body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;

}

nav h2 {
    color: white;
    font-size: 15px;
    margin: 0;
}

nav ul {
    display: flex;
    font-size: 10px;
    gap: 20px;
    list-style: none;
    margin: 0;

}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    border-bottom: 1px solid white;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 30px;
}

/* Header */
header {
    color: white;
    background-color: #4f46e5;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

header button {
    color: #fff;
    width: 120px;
    padding: 10px;
    background-color: #22c55e;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
header button:hover{
    background-color: #23d33e;
    scale: 1.2;
    transition: 0.4s;
}

h2 {
    color: #3f39c8;
}

/* First Main */
.first-main {
    display: flex;
    gap: 15px;
}

.first-main .sec-1 {
    flex: 2;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000020;
}

.first-main .sec-1 .bold {
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(209, 189, 189);
}

.first-main .sec-1 .italics {
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(209, 189, 189);
}

.first-main .sec-1 code {
    color: orangered;
}

.first-main .sec-2 {
    flex: 1;
    background-color: #f0fdf4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000020;
}

.sec-2 p:nth-of-type(2) {
    color: #22c55e;
}

/* Second Main */
.second-main {
    display: flex;
    gap: 40px;
}

.second-main article {

    display: flex;
    justify-content: space-around;
}

article>p {
    margin-right: 50px;
    font-weight: bold;
}

li,
dd {
    line-height: 4;
}

/* Section 3 */
.sec-3 {
    flex: 2;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000020;
}

/* Section 4 */
.sec-4 {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px #00000020;
}

/* Form */
.sec-4 form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sec-4 input,
.sec-4 select,
.sec-4 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background: #fff;
}

.sec-4 input:focus,
.sec-4 select:focus,
.sec-4 textarea:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 4px #4f46e566;
}

.sec-4 textarea {
    height: 100px;
    resize: none;
}

.sec-4 input[type="submit"] {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.sec-4 input[type="submit"]:hover {
    background-color: #3f39c8;
}

/* Third Main */
.third-main {
    display: flex;
}

.sec-5 {
    width: 60%;
    margin: 0;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px #00000020;
}

.sec-5 h2 {
    color: #4f46e5;
}

.sec-5 article {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.sec-5 article div p {
    font-weight: bold;
}

.sec-5 article div img {
    width: 100px;
    height: 100px;
}

.sec-5 article div a {
    font-weight: bold;
    color: #70b72f;
    text-decoration: none;
}

.sec-5 article div video {
    max-width: 100%;
}

/* Fourth Main */
.fourth-main {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px #00000020;
}

/* Table */
.fourth-main table {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
}

.fourth-main th,
.fourth-main td {
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.fourth-main thead {
    background-color: #f3f4ff;
}

.fourth-main tfoot td {
    color: #a39494;
    background-color: #fafafa;
    font-style: italic;
    font-size: 13px;
}

/* Footer */
footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 10px;
}