@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/* ================= Root ================= */
:root {
  --nav-color: #18191f;
  --main-color: #4d4d4d;
  --P-color: #717171;
  --btn-h-color: #4caf4f;
  --text-btn-color: #ffffff;
}

/* ================= Reset ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  animation: pageFade 1s ease-out forwards;
}

/* ================= Main ================= */
main {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
header,
section {
  opacity: 0;
  transform: translateY(30px);
  animation: reveal linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
footer {
  animation-range: entry 0% cover 20%;
}
header {
  animation-range: entry 0% cover 20%;
}

/* ================= Header ================= */
header {
  min-width: 100%;
  margin: 15px 0;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
}

header ul a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--nav-color);
}

header button {
  padding: 0.5em 1em;
  font-size: 1rem;
}

header .btn-login {
  margin-right: 0.5em;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  color: var(--btn-h-color);
}

header .btn-signup {
  color: #ffffff;
  background-color: #4caf4f;
  border: none;
  border-radius: 6px;
}

/* ================= Section 1 ================= */
.first-sec .container {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.first-sec .left-side h1 {
  color: var(--main-color);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.first-sec .left-side h1 span {
  color: var(--btn-h-color);
}

.first-sec .left-side p {
  color: var(--P-color);
  margin-bottom: 2rem;
}

.first-sec .left-side button {
  padding: 0.8em 1.8em;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  background-color: var(--btn-h-color);
}

.first-sec .right-side img {
  max-width: 100%;
  height: auto;
}

.first-sec .bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ================= Section 2 ================= */
.second-sec {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-sec h2 {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.second-sec p {
  color: var(--P-color);
}

.second-sec p:nth-of-type(2) {
  margin-bottom: 2rem;
}

.second-sec ul {
  list-style: none;
}

.second-sec ul:nth-of-type(1) {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.second-sec ul:nth-of-type(1) a {
  display: inline-block;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.second-sec h2:nth-of-type(2) {
  text-align: center;
  margin-top: 2rem;
  word-break: break-word;
}

.second-sec .lists {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.second-sec .lists div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  padding: 15px;
  box-shadow: 1px 1px 1px -1px black;
}

.second-sec .lists img {
  width: 25%;
  height: auto;
}

.second-sec .lists h3 {
  font-size: 2rem;
  color: var(--main-color);
  text-align: center;
  margin-top: 0.5rem;
}

.second-sec .lists p {
  margin-top: 1rem;
  text-align: center;
}

/* ================= Section 3 ================= */
.third-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.third-section .right-side h2 {
  font-size: 2rem;
  color: var(--main-color);
  max-width: 100%;
  margin-bottom: 2rem;
}

.third-section .right-side p {
  color: var(--P-color);
  max-width: 100%;
  margin-bottom: 2rem;
}

.third-section .right-side button {
  padding: 0.8em 1.8em;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: var(--btn-h-color);
}

/* ================= Section 4 ================= */
.fourth-section {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 16rem;
}

.fourth-section .lft-side h2 {
  color: var(--main-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fourth-section .lft-side h2 span {
  color: var(--btn-h-color);
}

.fourth-section .lft-side p {
  color: var(--nav-color);
  line-height: 2rem;
  font-size: 0.9rem;
}

.fourth-section .right-side {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.fourth-section .right-side div span {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.fourth-section .right-side div p {
  color: var(--P-color);
}

.fourth-section .first-right-side div:nth-of-type(1) {
  margin-bottom: 3rem;
}

.fourth-section .second-right-side div:nth-of-type(1) {
  margin-bottom: 3rem;
}

.fourth-section .first-right-side div,
.fourth-section .second-right-side div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ================= Section 5 ================= */
.section-five {
  margin-top: 5rem;
  display: flex;
  gap: 7rem;
  align-items: center;
}

.section-five h2 {
  font-size: 2.5rem;
  color: var(--main-color);
}

.section-five p {
  margin: 2rem 0 3rem;
  color: var(--P-color);
}

.section-five button {
  padding: 0.8em 1.8em;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: var(--btn-h-color);
}

/* ================= Section 6 ================= */
.section-six {
  margin-top: 4rem;
  align-items: center;
  display: flex;
  gap: 3rem;
}

.section-six .right-side p {
  color: var(--P-color);
}

.section-six .right-side h2 {
  color: var(--btn-h-color);
  line-height: 3;
}

.section-six .right-side p:nth-of-type(2) {
  line-height: 2;
}

.section-six .right-side ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 3rem;
}

.section-six .right-side ul a {
  text-decoration: none;
  color: var(--btn-h-color);
  display: inline-block;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

/* ================= Section 7 ================= */
.section-seven .up {
  margin-top: 4rem;
  text-align: center;
}

.section-seven .up h2 {
  font-size: 2rem;
  color: var(--main-color);
}

.section-seven .up p {
  color: var(--P-color);
  margin: 1rem auto;
  width: 50%;
}

.section-seven .down {
  position: relative;
  display: flex;
  gap: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.section-seven .down .card-1,
.section-seven .down .card-2,
.section-seven .down .card-3 {
  position: relative;
  flex: 1 1 30%;
  max-width: 30%;
}

.section-seven .down .card-1 > img,
.section-seven .down .card-2 > img,
.section-seven .down .card-3 > img {
  width: 100%;
  height: auto;
  display: block;
}

.section-seven .down h3 {
  color: var(--P-color);
  font-size: 1rem;
}

.section-seven .down a {
  text-decoration: none;
  color: var(--btn-h-color);
  font-weight: bold;
  line-height: 3rem;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: inline-block;
}

.section-seven .down .content-1,
.section-seven .down .content-2,
.section-seven .down .content-3 {
  background-color: #ffffff;
  position: absolute;
}

.section-seven .down .content-1 {
  padding: 1.5rem;
  bottom: -5.5rem;
  left: 2rem;
  transform: translateX(-5%);
  border-radius: 5px;
}

.section-seven .down .content-2 {
  padding: 1.5rem;
  bottom: -5.5rem;
  left: 2rem;
  transform: translateX(-5%);
  border-radius: 5px;
}

.section-seven .down .content-3 {
  padding: 1.5rem;
  bottom: -4.5rem;
  left: 2rem;
  transform: translate(-5%, 10%);
  border-radius: 5px;
}

/* ================= Section 8 ================= */
.section-eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  text-align: center;
}

.section-eight h2 {
  width: 50%;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #263238;
}

.section-eight button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8em 1.8em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: var(--btn-h-color);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* ================= Footer ================= */
footer {
  background-color: #263238;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  padding: 1.5rem;
}

footer > div:nth-of-type(1) {
  margin-top: 1rem;
}

footer p {
  margin: 4rem 0;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer ul {
  list-style: none;
}

footer div:nth-of-type(1) ul {
  display: flex;
  gap: 2rem;
}

footer div:nth-of-type(1) ul a {
  padding: 10px;
  background-color: #3c464c;
  border-radius: 50%;
}

footer h4 {
  align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

footer > div:nth-of-type(2) {
  margin-top: 3rem;
}

footer > div:nth-of-type(2) a {
  line-height: 2.7rem;
}

footer > div:nth-of-type(3) {
  margin-top: 3rem;
}

footer > div:nth-of-type(3) a {
  line-height: 2.7rem;
}

footer > div:nth-of-type(4) {
  align-self: start;
  margin-top: 3rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
}

.input-wrapper input {
  width: 100%;
  padding: 1rem 7rem 1rem 1rem;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #5f6b72;
  color: white;
  font-size: 1rem;
}

.input-wrapper input::placeholder {
  color: #d1d5db;
}

footer .send-btn {
  position: absolute;
  right: 2rem;
  transform: translate(50%, 90%);
  font-size: 1rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* ================= Hover ================= */
header a img:hover,
footer a img:hover {
  scale: 1.02;
}

header ul a:hover {
  border-bottom: 1px solid #00000047;
}

.first-sec button:hover,
.third-section button:hover {
  background-color: #319a37;
}

.second-sec ul:nth-of-type(1) a:hover {
  transform: translateY(-3px);
}

.section-six .right-side ul a:hover {
  transform: translateX(5px);
}

.section-seven .down a:hover {
  transform: translateX(5px);
}

.section-eight button:hover {
  transform: translateX(5px);
}

footer > div:first-child ul a:hover {
  background-color: rgba(240, 248, 255, 0.234);
}

footer > div:not(:first-child) ul a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.439);
}

button:hover {
  background-color: #319a37;
}

.btn-login:hover {
  background-color: inherit;
}

footer .send-btn:hover {
  background-color: inherit;
  color: #000000;
  scale: 1.1;
}

footer .input-wrapper input:focus {
  background-color: #edc7c747;
}

/* ================= Media Queries ================= */

/* Phone */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  main {
    margin: 1rem auto;
  }

  header {
    gap: 1rem;
    min-width: 100%;
  }

  header img {
    display: block;
  }

  header div {
    display: flex;
    flex-direction: column;
  }

  header ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  header ul li {
    flex: 0 0 25%;
    text-align: center;
  }

  header ul a {
    margin-left: 1rem;
  }

  p {
    line-height: 2rem;
  }

  .first-sec .container {
    margin-top: 4rem;
    gap: 4rem;
  }

  .first-sec .left-side {
    min-width: 50%;
  }

  .first-sec .left-side h1 {
    font-size: 2.5rem;
  }

  .first-sec .right-side img {
    min-width: 50%;
  }

  .second-sec ul:nth-of-type(1) {
    gap: 3rem;
  }

  .second-sec ul:nth-of-type(1) li {
    flex: 0 0 40%;
    text-align: center;
  }

  .second-sec .lists {
    flex-direction: column;
    align-items: center;
  }

  .second-sec .lists div {
    max-width: 100%;
  }

  .second-sec ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .second-sec ul li {
    flex: 0 0 40%;
    text-align: center;
  }

  .third-section,
  .section-five,
  .section-six {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
  }

  .fourth-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .fourth-section p {
    text-align: center;
  }
  .section-six ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .section-six ul li {
    flex: 0 0 40%;
    text-align: center;
  }

  .section-six ul li:last-child {
    flex: 0 0 100%;
  }
  .section-six .right-side ul a {
    font-size: 1.5rem;
  }

  .section-seven .up p {
    width: 90%;
  }
  .section-seven .down {
    flex-direction: column;
    gap: 8rem;
  }
  .section-seven .down .card-1,
  .section-seven .down .card-2,
  .section-seven .down .card-3 {
    min-width: 60%;
    margin: auto;
  }
  .section-seven .down .card-1 > img,
  .section-seven .down .card-2 > img,
  .section-seven .down .card-3 > img {
    max-width: 345px;
  }

  .section-seven .down .content-1,
  .section-seven .down .content-2,
  .section-seven .down .content-3 {
    max-width: 300px;
    /* bottom: -8rem; */
    padding: 1.5rem;
    transform: translate(-6px, -5px);
  }
  .section-eight h2 {
    width: 90%;
    font-size: 2rem;
  }

  footer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: center;
  }

  footer div ul {
    justify-content: center;
  }

  .input-wrapper {
    max-width: 100%;
  }

  footer > div:nth-of-type(2) ul,
  footer > div:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  footer > div:nth-of-type(4) {
    margin: auto;
  }

  footer > div:last-child h4 {
    min-width: 60%;
    margin: inherit;
  }
}

/* Laptop & Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  main {
    margin: 1rem auto;
  }

  header {
    min-width: 100%;
    gap: 1rem;
  }

  header ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  header div {
    display: flex;
    flex-direction: column;
  }

  header ul li {
    text-align: center;
  }

  .first-sec {
    margin: auto;
  }

  .first-sec .right-side img {
    max-width: 100%;
  }

  .first-sec .left-side h1 {
    font-size: 3rem;
  }

  .second-sec .lists div {
    max-width: 30%;
  }

  .second-sec ul:nth-of-type(1) {
    gap: 5rem;
  }

  .third-section,
  .section-five,
  .section-six {
    gap: 4rem;
  }

  .fourth-section {
    gap: 7rem;
  }

  .fourth-section .right-side {
    max-width: 55%;
    gap: 2rem;
  }
  .section-six .right-side ul {
    min-width: 100%;
  }

  .section-six .right-side ul img {
    max-width: 80%;
  }
  .section-six ul li:last-child {
    display: flex;
  }
  .section-six .right-side ul a {
    font-size: 1rem;
  }
  .section-seven .up p {
    width: 70%;
  }
  .section-seven .down .content-1,
  .section-seven .down .content-2,
  .section-seven .down .content-3 {
    bottom: -6rem;
    padding: 1rem;
    transform: translate(-5%, -30%);
  }
  .section-seven .down .content-3 {
    transform: translate(-5%, -45%);
  }
  .section-seven .down h3 {
    font-size: 0.8rem;
  }
  .section-eight h2 {
    width: 70%;
    font-size: 2.5rem;
  }

  footer {
    flex-wrap: wrap;
    gap: 3rem;
  }

  footer > div {
    flex: 1 1 45%;
  }
}

/* PC */
@media (min-width: 1200px) {
  main {
    max-width: 1300px;
  }

  .first-sec .left-side h1 {
    font-size: 4rem;
  }

  .section-eight h2 {
    font-size: 3rem;
  }
}

/* ================= Animation ================= */
/* Base animation */

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes reveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
